<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>result</title>
    <link rel="stylesheet" href={{static_url("second.css")}}>s
</head>
<body>
<p id="title">课程名称: {{title}}</p>
<hr>
<div>
    <p id="pos_title">正向评论</p>
    <ol>
    {% for a_com in pos_comment %}
        <li>
            {{a_com}}
        </li>
    {% end %}
    </ol>
</div>
<hr>
<div>
    <p id="neg_title">负向评论</p>
    <ol>
    {% for b_com in neg_comment %}
        <li>
            {{b_com}}
        </li>
    {% end %}
    </ol>
</div>
</body>
</html>