    #title{
        position:absolute;
        top:23%;
        left:37%;
        font-size:2em;
    }
    #text_box{
        position:absolute;
        top:43%;
        left:25%;
        width:50%;
        height:7%
    }
     #button{
        position:absolute;
        top:60%;
        left:69%;
        width:6%;
        height:6%
 i   }